<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/foundation.min.css" | prepend: site.baseurl }}">

    <style type="text/css">
      .ghost.button { border:3px solid white !important; background: rgba(128, 128, 128, .6);
 !important; }
      .button-group li:last-child .ghost.button { border-left: 0 none !important; }
      body {
        height: 100%;
        background:#333 no-repeat center;
        background-size:contain;
        padding-top:50px;
      }
    </style>

</head>
