<body style="background-image:url('{{page.photo}}')">

<div class="row" data-equalizer>
  <div class="small-2 large-1 columns">
    {% if page.previous %}
    <a class="prev-image" href="{{ page.previous.url | prepend: site.baseurl }}">previous</a>
    {% endif %}
  </div>
  <div class="small-8 large-10 columns"></div>
  <div class="small-2 large-1 columns">
    {% if page.next %}
    <a class="next-image" href="{{ page.next.url | prepend: site.baseurl }}">next</a>
    {% endif %}
  </div>
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://p.wendtswelt.de/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>
