<body style="background-image:url('{{page.photo}}')">

<div class="row" data-equalizer>
  <div class="small-2 large-1 columns">
    {% if page.previous %}
    <a class="prev-image" href="{{ page.previous.url | prepend: site.baseurl }}">previous</a>
    {% endif %}
  </div>
  <div class="small-8 large-10 columns"></div>
  <div class="small-2 large-1 columns">
    {% if page.next %}
    <a class="next-image" href="{{ page.next.url | prepend: site.baseurl }}">next</a>
    {% endif %}
  </div>
</div>

</body>
